In [1]:
import sys
sys.path.insert(0, '../src/')

In [2]:
from data.data_load import DataLoad
from data.data_validation import DataValidation

In [3]:
dl = DataLoad()
dv = DataValidation()

In [4]:
df = dl.load_data('train_dataset_name')

2023-12-02 16:50:53 [info     ] Iniciando o carregamento

In [5]:
df

,target,TaxaDeUtilizacaoDeLinhasNaoGarantidas,Idade,NumeroDeVezes30-59DiasAtrasoNaoPior,TaxaDeEndividamento,RendaMensal,NumeroDeLinhasDeCreditoEEmprestimosAbertos,NumeroDeVezes90DiasAtraso,NumeroDeEmprestimosOuLinhasImobiliarias,NumeroDeVezes60-89DiasAtrasoNaoPior,NumeroDeDependentes
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [6]:
is_valid = dv.run(df)

2023-12-02 16:50:54 [info     ] Validação iniciou..
2023-12-02 16:50:54 [info     ] Validation columns passed...
2023-12-02 16:50:54 [info     ] Validacao com sucesso.

In [7]:
from data.data_transformation import DataTransformation

In [8]:
dt = DataTransformation(df)

In [9]:
X_train, X_valid, y_train, y_valid = dt.train_test_split()

In [11]:
X_train.shape

(100500, 10)

In [12]:
X_valid.shape

(49500, 10)